{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#computers" role="tab">
                            Computers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#laptops" role="tab">
                            Laptops
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#monitors" role="tab">
                            Monitors
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#printers" role="tab">
                            Printers
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    {{ include('products_category/computers.html.twig') }}
                    {{ include('products_category/laptops.html.twig') }}
                    {{ include('products_category/monitors.html.twig') }}
                    {{ include('products_category/printers.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}