<form action="{{ path('create_category') }}" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="category[name]" placeholder="Name">
    </div>
    <div class="form-group">
        <textarea type="text" rows="2" class="form-control" name="category[description]" placeholder="Description"></textarea>
    </div>
    <button class="btn btn-success waves-effect waves-light float-right" type="submit">Save</button>
</form>