<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %Lumos Shop{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/build/style.css') }}">
            <link rel="stylesheet" href="{{ asset('/build/colors/megna-dark.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>