<div class="col-2 col-lg-2 col-md-2">
    <div class="list-group menuTab">
        <a href="{{ path('basic_configuration') }}" class="list-group-item active">
            <span class="hidden-xs-down">Basic</span>
        </a>
        <a href="{{ path('role_configuration') }}" class="list-group-item">
            <span class="hidden-xs-down">Role</span>
        </a>
    </div>
</div>